<!--<div class="wp-r" style="text-align: center;"></div>
<script type="text/javascript" async>
wpac_init = window.wpac_init || [];
wpac_init.push({widget: 'Rating', id: 26702});
(function() {
    if ('WIDGETPACK_LOADED' in window) return;
    WIDGETPACK_LOADED = true;
    var mc = document.createElement('script');
    mc.type = 'text/javascript';
    mc.async = true;
    mc.src = 'https://embed.widgetpack.com/widget.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
})();
</script>-->
  <div id="vcomments"></div>
  
  <script type="text/javascript">
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js";
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>

  <script defer src="https://cdn.jsdelivr.net/gh/ChenYFan/CDN/js/valine/valine.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/gh/ChenYFan/CDN/js/valine/av-min.js"></script>


  
 <script type="text/javascript">
    var notify = '<%= theme.valine.notify %>' === 'true';
    var verify = '<%= theme.valine.verify %>' === 'true';
    var oldLoad = window.onload;
    window.onload = function () {
      new Valine({
        el: '#vcomments',
        notify: notify,
        verify: verify,
	admin_email: 'chenyf@cyfan.top', 
	app_id: window.atob(TWOUMh1+rU3+MjOF5),
	app_key: window.atob(jUYjTJZ2+ZU4+wlNgSyoP6),
        placeholder: "<%= theme.valine.placeholder %>",
        avatar: "<%= url_for(theme.valine.avatar) %>",
        meta: ['nick', 'mail', 'link'],
        pageSize: "<%= theme.valine.pageSize %>",
	emoticon_url:'https://assets.cyfan.top/file/CYF-PicBed/pic/moji',
        emoticon_list:["吐.png","喷血.png","狂汗.png","不说话.png","汗.png","坐等.png","献花.png","不高兴.png","中刀.png","害羞.png","皱眉.png","小眼睛.png","中指.png","尴尬.png","瞅你.png","想一想.png","中枪.png","得意.png","肿包.png","扇耳光.png","亲亲.png","惊喜.png","脸红.png","无所谓.png","便便.png","愤怒.png","蜡烛.png","献黄瓜.png","内伤.png","投降.png","观察.png","看不见.png","击掌.png","抠鼻.png","邪恶.png","看热闹.png","口水.png","抽烟.png","锁眉.png","装大款.png","吐舌.png","无奈.png","长草.png","赞一个.png","呲牙.png","无语.png","阴暗.png","不出所料.png","咽气.png","期待.png","高兴.png","吐血倒地.png","哭泣.png","欢呼.png","黑线.png","喜极而泣.png","喷水.png","深思.png","鼓掌.png","暗地观察.png","stick_1.png","stick_2.png","stick_3.png","stick_4.png","stick_5.png","stick_6.png","stick_7.png","stick_8.png","stick_9.png","stick_10.png","stick_11.png","stick_12.png","stick_13.png","stick_14.png","stick_15.png","stick_16.png","stick_17.png","stick_18.png","stick_19.png","stick_20.png","stick_21.png","stick_22.png","stick_23.png","stick_24.png","stick_25.png","stick_26.png","stick_27.png","stick_28.png","stick_29.png","stick_30.png","stick_31.png","stick_32.png","stick_33.png","stick_34.png","stick_35.png","stick_36.png","stick_37.png","stick_38.png","stick_39.png","stick_40.png","stick_41.png","stick_42.png","stick_43.png ","stick_44.png","stick_45.png","stick_46.png","stick_47.png","stick_48.png","stick_49.png","stick_50.png ","stick_51.png","stick_52.png","stick_53.png","stick_54.png","stick_55.png","stick_56.png","stick_57.png ","stick_58.png","stick_59.png","stick_60.png","stick_61.png","stick_62.png","stick_63.png","stick_64.png ","stick_65.png","stick_66.png","stick_67.png","stick_68.png","stick_69.png","stick_70.png","stick_71.png ","stick_72.png","stick_73.png","stick_74.png","stick_75.png","stick_76.png","stick_77.png","stick_78.png ","stick_79.png","stick_80.png","stick_81.png","lh.jpg","huaji.gif","huaji.png","zhuaji.png","yhuaji.png","qgbf.png","ld.jpg","tx.png","zcbg.jpg","邪魅一笑.jpg","口吐芳言.jpg"],
      });
      oldLoad && oldLoad();
    };
  </script>
  <noscript>Hello?你开了JS吗？？？？</a></noscript>

<!-- ADs-in-Blog-Under-Valine -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1878991317600808"
     data-ad-slot="6517667779"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <style>
.valine * {
    color: var(--text-color);
  }
.valine .info .col{
    background: var(--board-bg-color);
  }
.valine .vlist .vcard .vcomment-body .text-wrapper .vcomment pre{
    background: var(--board-bg-color);
	color: var(--text-color);
  }
.valine .vlist .vcard .vcomment-body .vhead .vname{
    color: var(--text-color);
  }
.valine .vlist .vcard .vcomment-children .vshow-children-wrapper .vshow-children{
    color: var(--text-color);
  }
.valine .vinputs-area .textarea-wrapper .comment_trigger{
	background-color: var(--board-bg-color);
}
.valine .vinputs-area .textarea-wrapper textarea {
	background-color: var(--board-bg-color);
	color: var(--text-color);
}
.valine .vinputs-area .auth-section {
	background-color: var(--board-bg-color);
		color: var(--text-color);
}
.valine .vinputs-area .auth-section .input-wrapper input {
	background-color: var(--board-bg-color);
		color: var(--text-color);
}
.valine .vinputs-area{
	border: var(--board-bg-color);
}
.valine .vinputs-area .textarea-wrapper{
	background-color: var(--board-bg-color);
	color: var(--text-color);
}
.valine .vinputs-area .vextra-area .vsmile-icons{
	border-top: 1px solid transparent
}
vtag-vmaster {
    display: initial;
    padding: 3px 4px;
    vertical-align: 1px;
    background: #ffa51e;
    color: var(--text-color);
}

</style>

