<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
page.banner_mask_alpha = theme.links.banner_mask_alpha
%>
<style>
.qr-trigger {
	display:inline-block;
	padding:1.5rem;
	margin-right:.15rem
}
.qr-trigger:hover {
	background-color:var(--link-hover-bg-color);
	transition-duration:.2s;
	transition-timing-function:ease-in-out;
	border-radius:.15rem
}
.post-meta>a:not(.qr-trigger) {
	margin-right:.15rem
}
</style>
<div class="row links">

  <% for(const each of theme.links.items || []) { %>
    <% if (!each.title || !each.link) continue %>
	
    <div class="card col-lg-4 col-md-6 col-sm-12">
	

	  <a href="<%= url_for(each.link) %>" class="qr-trigger" target="_blank" rel="noopener">
	  
        <div class="card-content">
          <% if (each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= each.image %>" alt="<%= each.title %>" />
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro %></div>
          </div>
        </div>
		<img class="qr-img" src="https://api.cyfan.top/thumb?url=<%- each.link %>" srcset="https://unpkg.zhimg.com/chenyfan-blog@1.0.1/themes/fluid/source/img/loading.gif" alt="ScreenShot"></a>

	  
    </div>
	
  <% } %>
</div>
